/***** WEB STYLE *****/

body {
    font-family: Inter, sans-serif;
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

#toppage {
    background-color: #c49799;
    border: 1px dotted white;
}

/***** HEADER *****/

header {
    display:flex;
    justify-content: space-between;
    padding: 16px;
    color: white;
}

.headerlogo {
    font-size: 25px;
    font-weight: bold;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:flex;
    align-items: center;
    gap: 32px;
    font-size: 22px;
    font-weight: bold;
}

/***** ABOUT ME ******/

.aboutme {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px;
}

.aboutmeheading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.leftabout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

p {
    margin: 10px;
    color: white;
}

.TOP {
    text-decoration: underline;
}

/***** GOALS *****/

.goalsheading {
    text-align: center;
    color:#c49799;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

.text {
    color: #c49799;
    font-size: 16px;
    font-weight: normal;
}

.goals {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 40px;
}

.goalsinfo {
    max-width: 500px;
}

.goalsinfo
img {
    width: 500px;
    height: 200px;
    border: 2px #c49799 dotted;
    border-radius: 15px;  
}

#TOP {
    object-fit: contain;
}

/***** QUOTE *****/

.quote {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 50px;
    padding: 60px;
    background-color: #c49799;
    color: white;
    border: 1px dotted white;
}

.author {
    padding: 50px;
    text-align: right;
}

/***** GET IN TOUCH *****/

#contactcard {
    margin: 50px;
}

.getintouch {
    margin: auto;
    border: 2px #c49799 dotted;
    width: 40%;
    border-radius: 15px;   
    padding: 10px;
}

.getintouch ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration-line: none;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    color:#c49799;
}




/***** FOOTER *****/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #c49799;
    height: 45px;
}

/***** EXTRAS *****/ 

img {
    max-width: 300px;
    border: 1px dotted white;
    border-radius: 15px;  
}

button {
    background-color: #c49799;
    width:  20%;
    padding: 10px;
    border: 1px dotted white;
    border-radius: 15px;
    margin: 10px;
}
