/***** WEB STYLE *****/

body {
    font-family: Inter, sans-serif;
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

#toppage {
    background-color: #c49799;
    border: 1px dotted white;
}

/***** HEADER *****/

header {
    display:flex;
    justify-content: space-between;
    padding: 16px;
    color: white;
}

.headerlogo {
    font-size: 25px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:flex;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    font-weight: bold;
}

/***** ABOUT ME ******/

.aboutme {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px;
}

.leftabout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    margin: auto;
}

p {
    margin: 10px;
}

/***** GOALS *****/

.goals {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 32px;
    margin-bottom: 52px;
}

.goalsinfo,
#pics {
    width: 400px;
    height: 200px;
    border: 1px dotted white;
    gap: 8px;
}

/* add border radius ^^ if pics have a background */

.goalsinfo
p {
    text-align: center;
    color:#c49799;
}

.goalsheading {
    margin: 25px;
    text-align: center;
    color:#c49799;
}


/***** QUOTE *****/

.quote {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-style: italic;
    font-size: 50px;
    margin: 0;
    padding: 75px;
    background-color: #c49799;
    color: white;
    border: 1px dotted white;
}

.author {
    padding-top: 25px;
    text-align: right;
}

/***** GET IN TOUCH *****/

#contactcard {
    margin: 50px;
}

.getintouch {
    text-align: center;
    margin: auto;
    border: 2px #c49799 dotted;
    width: 50%;
    border-radius: 15px;   
    padding: 15px;
}

ul {
    display: flex;
    justify-content: center;
}

a {
    color: white;
    text-decoration-line: none;
}

h3 {
    font-size: 20px;
    color:#c49799;
}




/***** FOOTER *****/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #c49799;
    height: 45px;
}

/***** EXTRAS *****/ 

img {
    width: 400px;
    border: 1px dotted white;
}

button {
    background-color: #c49799;
    padding: 8px 16px;
    border: 1px dotted white;
}

